@media( max-width: 1100px){
    .container{
        max-width: 800px;
    }
    .benefits__item {
        width: 204px;
    }
}

@media( max-width: 900px){

    .container{
        padding: 0 50px;
    }

    .header{
        &__official{
            font-size: 10px;
            span{
                font-size: 16px;
            }
        }
        &__tel{
            a{
                font-size: 16px; 
            }
        }
    }
    .promo{
        &__header{
            font-size: 36px;
        }
        &__subheader{
            font-size: 19px;
        }
        &__link{
            font-size: 14px;
        }
        
    }
    .button_promo{
        width: 220px;
        height: 42px;
        font-size: 14px;
    }

    .benefits{
        &__title{
            font-size: 24px;
        }
        &__heading{
            font-size: 16px;
        }
        &__text{
            font-size: 12px;
        }
    }

    .consultation{
        &__title{
            font-size: 28px;
        }
        &__descr{
            font-size: 17px;
        }

    }

    .feed-form{
        width: 260px;

        input{
            height: 40px;
        }
    }

    .button_consult{
        height: 45px;
        font-size: 14px;
    }
}