.promo{
    min-height: 750px;
    padding: 21px 0 93px 0;
    background: url(../../img/promobg.png) center (center/cover) no-repeat;

    &__wrapper{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 91px 0 93px 0;
    }
    &__header{
        color: #ffffff;
        font-family: "Museo Sans Cyrl 700";
        font-size: 42px;
        font-weight: 700;
    }
    &__subheader{
        color: #ffffff;
        font-family: "Museo Sans Cyrl 500";
        font-size: 24px;
        font-weight: 500;
    }
    &__icons{
        margin-top: 60px;
        width: 430px;
        display: flex;
        justify-content: space-between;
    }
    &__icon{
        width: 108px;
        text-align: center;
        color: #ffffff;
        font-family: "Museo Sans Cyrl 500";
        font-size: 14px;
        font-weight: 500;
        img{
            display: block;
            margin: 0 auto;
        }
    }
    &__link{
        margin-top: 18px;
        color: #ffffff;
        font-family: "Museo Sans Cyrl 500";
        font-size: 16px;
        font-weight: 500;

        a{
            font-family: "Museo Sans Cyrl 500";
            text-transform: uppercase;
            text-decoration: underline;
            color: #ffffff;
        }
    }
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo{
        width: 251px;
        img{
            width: 100%;
        }
    }
    &__official{
        color: #ffffff;
        font-family: "Museo Sans Cyrl 500";
        font-size: 12px;
        font-weight: 500;
        text-align: center;
        span{
            font-family: "Museo Sans Cyrl 500";
            display: block;
            font-size: 18px;
            font-weight: 700;
            
        }
    }
    &__tel{
        a{
            color: #ffffff;
            font-family: "Museo Sans Cyrl 700";
            font-size: 18px;
            font-weight: 700;
        }
    }
}