* {
    font-family: Museo Sans Cyrl;
}
.container{
    max-width: 950px;
    margin: 0 auto;
}

@import 'promo';
@import 'buttons';
@import 'benefits';
@import 'consultation';
@import 'forms';
@import 'media';
@import 'slider';